<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script defer src="https://cloud.umami.is/script.js" data-website-id="c7e98973-ebec-4105-af1a-c167c7c84bb9"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:chaolc227@163.com">E-mail</a></li>
            <li><a href="https://github.com/LilyChao227">github.com/LilyChao227</a></li>
        </ul>
        <p>本站使用umami统计浏览信息，仅收集总访问量与访问时间等脱敏数据。您可以在上方链接中查看源代码。</p>
    </footer>
</body>

</html>
