<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script defer src="https://cloud.umami.is/script.js" data-website-id="42256611-f077-454b-af0e-b6b7814855c1"></script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
  <div class="container">

    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date_to_string }}</p>

    <div class="post">
      {{ content }}
    </div>

  </div><!-- /.container -->
  <footer>
    <span>本站使用Umami统计浏览信息，仅收集总访问量与访问时间等脱敏数据。</span><a href="https://cloud.umami.is/" title="Umami Cloud">点击了解更多关于Umami的信息</a>
    <ul>
      <li><a href="mailto:chaolc227@163.com">E-mail</a></li>
      <li><a href="https://github.com/LilyChao227">github.com/LilyChao227</a></li>
    </ul>
  </footer>
</body>

</html>